.title-bar {
    background: red;
}

.red-background {
    background-color: red;
}

.gray-background {
    background-color: gray;
}

.white-background {
    background-color: white;
}

.white-text {
    color: white
}

.black-text {
    color: black;
}

.pink-text {
    color: rgb(255, 100, 100);
}

.off-canvas ul button:hover {
    color: rgb(255, 100, 100);
}

#widemenu {
    width: 100%;
    position: fixed;
}

#widemenu ul a:hover {
    color: rgb(255, 100, 100);
}

#widemenu ul a.topbar-class:focus {
    color: white;
}

#widemenu a {
    display: inline !important;
}

#in_month_out {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    border-top: solid gray 2px;
}

.bottom_div {
    padding: 0;
}

.bottom_button {
    width: 100%;
    margin: 0 auto;
    padding: .8em 0;
    color: red;
}

.side_button {
    width: 100%;
    margin: 0 auto;
    padding: .6em 0;
    color: white;
}

.red_button {
    background: red;
    color: white;
}

.white_button {
    background: white;
    color: red;
}

.button-month {
    width: 100%;
    padding: .8em;
}

.button-month:hover, .bottom_button:hover {
    -webkit-transition: background-color 0.5s linear, color 0.2s linear;
    background: red;
    color: white;
}

.button-month:focus {
    background-color: red;
    color: white;
}

.button-disabled {
    width: 100%;
    padding: .8em;
    cursor: not-allowed;
    color: #eee;
}

.button-disabled:focus {
    background-color: whitesmoke;
    color: white;
}

.no-padding {
    padding: 0 !important;
}

.round-button {
    /*box-shadow: -3px 3px 5px grey;*/
    border-radius: 6px;
}

@media only screen and (min-width: 640px) {
    #flux_content, #about_content {
        margin-top: 54px;
    }
}

#flux_content, #about_content {
    padding: 1em 1em 4em 2em;
    min-height: 700px;
}

.off-canvas-wrapper {
    background-color: lightgray;
}
