.title-bar {
    background: red;
}

.red-background {
    background-color: red;
}

.gray-background {
    background-color: rgba(16, 16, 16, 0.75);
}

.white-text {
    color: white
}

.black-text {
    color: black;
}

.off-canvas ul button:hover {
    color: rgb(255, 100, 100);
}

#widemenu {
    width: 100%;
    position: fixed;
}

#widemenu ul a:hover {
    color: black;
}

#widemenu ul a.topbar-class:focus {
    color: white;
}

#widemenu a {
    display: inline !important;
}

#in_month_out {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: white;
}

.bottom_div {
    width: 33%;
    padding: 0;
}
.bottom_button {
    width: 100%;
    margin: 0 auto;
    padding: .8em 0;
    color: red;
}

.side_button {
    width: 100%;
    margin: 0 auto;
    padding: .6em 0;
    color: white;
}

.red_button {
    background: red;
    color: white;
}

.white_button {
    background: white;
    color: red;
}

.button-month {
    width: 100%;
    padding: .8em;
}
.button-month:hover, .bottom_button:hover {
    -webkit-transition:background-color 0.5s linear, color 0.2s linear;
    background: red;
    color: white;

}
.button-month:focus {
    background-color: red;
    color: white;
}

.no-padding {
    padding: 0 !important;
}

.round-button {
    /*box-shadow: -3px 3px 5px grey;*/
    border-radius: 6px;
}
